# Data and results
data/
results/

# Jupyter notebooks
*.ipynb_checkpoints

# Large files
*.h5ad
*.csv

# Temporary Word/Excel files
~$*.docx
~$*.xlsx

# Environment files (optional if using environment.yml)
env/
